@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-enter-active {
    animation: fadeInUp .5s;
}
.fade-leave-active {
    animation: fadeInUp .5s reverse;
}

@keyframes movesInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    75% {
        transform: translateX(.3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    50% {
        opacity: 0;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    75% {
        transform: translate(-.3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes gradualVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}