.primary {
    color: white;
    font-family: $open-sans;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    text-align:center;
    .primary-title {
        display: inline-block;        
        font-weight: 600;
        font-size: 3.5rem;
        letter-spacing: 0.2rem;

        margin-bottom: 1rem;

        @include respond(phone) {
            font-size: 2.5rem;
            letter-spacing: 0;
            width: 90%;
        }

        animation: gradualVisibility 1s ease-in;
    }
    .primary-subtitle {
        display: block;        
        font-weight: 100;
        font-size: 2rem;
        text-transform: uppercase;

        @include respond(phone) {
            font-size: 1.5rem;
        }

        animation: gradualVisibility 1s ease-in;
    }
}

.section-heading {
    top: 2rem;
    text-transform: uppercase;
    color: $color-primary-font;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    font-family: $open-sans;
    display: inline-block;

    position: relative;

    @include respond(phone) {
        font-size: 3.5rem;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        height: .5rem;
        width: 85%;

        border-radius: 5px;
        left: 0;
        background-color: currentColor;
    }

    &:hover {
        &:after {
            transition: all .5s ease-in-out;
            width:70%;
        }
    }
}

.paragraph {
    font-size: 1.7rem;
    font-family: $meta-serif;
    color: $color-grey-dark;
    display: inline-block;
    &:not(:last-child) {
        margin-bottom:1rem;
    }

    @include respond(phone) {
        font-size: 1.5rem;
    }

    text-align: left;
}

.project-heading {
    display: inline-block;
    color: $color-primary-font;
    font-size: 4.5rem;
    font-family: $open-sans;

    padding-top: 3rem;
    margin-bottom: 5rem;
    position: relative;
    text-align: center;
    @include respond(phone) {
        font-size: 2rem;

        &:after {
            bottom: -1.5rem !important;
            height: .1rem !important;
            width: 10rem !important;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -2rem;
        height: .3rem;
        width: 10rem;
        background-color: currentColor;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover {
        &:after {
            transition: all .5s ease-in-out;
            width:15rem;
        }
    }
}

.article-title {
    
}

.article-text {

}