<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
      var host = "www.thefinolword.com";
      var host_noW = "thefinolword.com";
      if ((host == window.location.host) && (window.location.protocol != "https:")){
      window.location.protocol = "https";
      }
      if ((host_noW == window.location.host) && (window.location.protocol != "https:")){
      window.location.protocol = "https";
      }
    </script>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
    </style>
    <title>Omar Finol-Evans's Portfolio</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script src="//connect.facebook.net/en_US/all.js"></script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
