.border-button {
    box-sizing: inherit;
    margin-top: 2rem;
    padding:1rem;
    font-size:1.6rem;
    border: 2px solid $color-primary-light;
    color: $color-primary-light;
    cursor: pointer;
    float:left;
    bottom:0;

    transition: all .2s;
    &:hover {
        color: white;
        background-color: $color-primary-light;
    }
}