.composition {
    position: relative;
    height: 18rem;
    top: 3rem;
    &-frontend {
        .image {
            width: 7rem;
            position:absolute;

            &--p1 {
                top: 0;
                left: 4%;
            }
            &--p2 {
                top:0;
                right: 4%;
                width: 10rem;
            }
            &--p3 {
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            &--p4 {
                right: 4%;
                bottom: 5%;
            }
            &--p5 {
                bottom: 0;
                left: 4%;
            }
        }
    }
    &-backend {
        .image {
            width: 9rem;
            position:absolute;

            &--p1 {
                top: 0;
                left: 5%;
            }
            &--p2 {
                top:0;
                right: 5%;
                width: 10rem;
            }
            &--p3 {
                bottom: 5%;
                left: 5%;
            }
            &--p4 {
                right: 5%;
                bottom: 5%;
                width: 12rem;
            }
        }
    }
    &-other {
        .image {
            position:absolute;

            &--p1 {
                width: 12rem;
                top: 5%;
                left: 5%;
            }
            &--p2 {
                top:0;
                right: 5%;
                width: 8rem;
            }
            &--p3 {
                bottom: 20%;
                width: 15rem;
                left: 5%;
            }
        }
    }
}