<template>
    <div>
        <b-spinner v-if="!load" class="loading-spinner" label="Spinning"></b-spinner>
        <div style="padding-top: 80px;"></div>

        <transition name="fade">
            <div v-if="load" class="container u-left-text">
                <div class="article-grid">
                    <h1 class="article-title">{{post.title}}</h1>
                    <img v-if="post.featured_image" :src="post.featured_image" alt="" class="featured-image">
                </div>
                <div class="author-info">
                    <img src="../assets/images/lakehouse.jpg"/>
                    <span class="author-info-name">By {{post.author.first_name}} {{post.author.last_name}}</span>
                    <span class="author-info-date">{{post.date}}</span>
                </div>
                <article class="article-body" v-html="post.body"></article>
                <div class="fb-comments" :data-href="url" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
            </div>
        </transition>
        <div style="padding-bottom: 20vh"></div>
    </div>
</template>

<script>
import { butter } from '../buttercms';

export default {
    name: 'Article',
    data() {
        return { 
            post: {},
            months: ['January', 'February', 'March', 'April', 'May',
            'June', 'July', 'August', 'September', 'October',
            'November', 'December'],
            meta_post: {},
            load: false,
            url: "https://thefinolword.com/articles/" + this.$route.params.slug
        }
    },
    methods: {
        getPost() {
            butter.post.retrieve(this.$route.params.slug)
            .then((res) => {
                console.log(res.data)
                this.load=true;
                this.meta_post = res.data;
                this.post = res.data.data;
                document.title = this.post.seo_title;

                let date = this.post.published.split(/T|-/);
                this.post.date = "".concat(this.months[date[1]-1], ' ', date[2], ', ', date[0]);
            }).catch((res) => {
                console.log(res)
            })
        }
    },
    watch: {
        $route(to, from) {
            this.getPost()
        }
    },
    created() {
        this.getPost();
        setTimeout(() => {
            window.FB.XFBML.parse()
        }, 0)
    }
}
</script>

<style lang="scss" scoped>
    .container {
        padding-left: 15rem;
        padding-right: 15rem;
        
        @include respond(phone) {
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    .article-title {
        grid-area: title;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 3.5rem;
        -webkit-backface-visibility: hidden;
        -webkit-font-smoothing: antialiased;
        @include respond(phone) {
            font-size: 2.3rem;
        }
    }
    .featured-image {
        grid-area: image;
        width: 100%;
        padding: 5rem 0 5rem;
        border-radius: 10px;
        @include respond(phone) {
            padding: 5% 0 5%;
        }
    }
    .author-info {
        grid-area: author;
        width: 17rem;
        height: 15rem;
        float:left;
        @include respond(phone) {
            width: 100%;
            height: auto;
            float:unset;
            display:block;
            padding-bottom: 1rem;
        }
        img {
            border-radius: 50%;
            width:10rem;
            float: left;
            @include respond(phone) {
                width:6rem;
                padding-right: 1rem;
            }
        }
        &-name {
            display:inline-block;
            font-size:1.4rem;
            color: $color-primary-light;
            font-weight: 600;
            @include respond(phone) {
                font-size:1.4rem;
            }
        }
        &-date {
            font-size: 1.4rem;
            color: $color-grey-dark;
            display:inline-block;
            @include respond(phone) {
                font-size: 1.6rem;
            }
        }
    }
    .article-body {
        grid-area: body;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8rem;
        line-height: 2.7rem;
        @include respond(phone) {
            font-size: 1.6rem;
        }
    }

    .container {
        padding-top: 5rem;
    }
</style>