<template>
    <div>
        <b-spinner v-if="!load" class="loading-spinner" label="Spinning"></b-spinner>
        <div class="header" v-if="load">
            <div class="overlay"></div>
            <div class="primary-header-box">
                <h3 class="primary">
                    <span class="primary-title">“Not all readers are leaders, but all leaders are readers.”</span>
                    <span class="primary-subtitle">— <i>Harry S. Truman</i></span>
                </h3>
            </div>
        </div>

        <div v-if="load" class="container">
            <h3 class="home-heading">Articles</h3>
            <article>
                <b-container>
                    <b-row class="article-box" v-for="(post,index) in posts" :key="post.slug + '_' + index">
                        <b-col lg="8">
                            <router-link :to="'/articles/' + post.slug">
                                <figure class="featured-image-box" v-on:click="openArticle(post.slug)">
                                    <img v-if="post.featured_image" :src="post.featured_image" class="featured-image" />
                                    <figcaption class="featured-image-caption">Click Here to Read</figcaption>
                                </figure>
                            </router-link>
                        </b-col>
                        <b-col lg="4">
                            <router-link :to="'/articles/' + post.slug">
                                <h2 class="article-title">{{post.seo_title}}</h2>
                            </router-link>
                            <div class="article-summary">
                                <div class="article-date">{{post.date}}</div>
                                <p>{{post.summary}}</p>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
                <div style="padding-bottom: 20vh"></div>

            </article>
        </div>
    </div>
</template>

<script>
import { butter } from '../buttercms';

export default {
    name: 'ArticlesHome',
    data() {
        return { 
            load: false,
            months: ['January', 'February', 'March', 'April', 'May',
                'June', 'July', 'August', 'September', 'October',
                'November', 'December'],
            posts: {}
        };
    },
    methods: {
        getPosts() {
            console.log('Butter');
            butter.post.list({page: 1, page_size: 10}).then((res) => {
                console.log('Butter', res.data)
                this.posts = res.data.data
                this.load = true;
                this.posts.forEach(element => {
                    let date = element.published.split(/T|-/);
                    element.date = "".concat(this.months[date[1]-1], ' ', date[2], ', ', date[0]);
                });

                console.log('Posts', this.posts);
            })
        },
        openArticle(slug) {
            console.log(slug);
        }
    },
    created() {
        this.getPosts();
    }
}
</script>

<style lang="scss" scoped>
    .overlay {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    a {
        color: $color-primary-font;
    }

    .header {
        height: 75vh;
        background-image: url('../assets/images/aruba.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover; //webkit support
        -moz-background-size: cover; //Mozilla support
        -o-background-size: cover; //Opera support
        position: relative;
        background-position: 50% 80%;

        @include respond(phone) {
            background-attachment: scroll;
        }

        .primary-header-box {
            position: absolute;
            bottom: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            
            @include respond(phone) {
                top: 42%;
            }

            /* font-family: 'Pacifico', cursive; */
        }
    }

    .home-heading {
        display: inline-block;
        color: $color-primary-font;
        font-size: 3.5rem;
        font-family: $open-sans;

        position: relative;
        float:left;

        padding-top: 5rem;

        @include respond(phone) {
            font-size: 2rem;

            &:after {
                bottom: -1.5rem !important;
                height: .1rem !important;
                width: 100% !important;
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -1rem;
            height: .2rem;
            width: 100%;
            left: 0;
            background-color: currentColor;
        }
    }

    .article-summary {
        position:absolute;
        display:flex;
        bottom: 10%;
        justify-content: center;
        flex-direction: column;
        width:100%;
        @include respond(phone) {
            position :relative;
            float:left;

            display:table;
            overflow:auto;
            .article-date {
                padding-top: 6%;
                margin-bottom: 0 !important;
            }
        }
        
        .article-date {
            font-size: 1.4rem;
            color: $color-grey-dark;
            letter-spacing: 1px;
            margin-bottom: 10%;
        }
        p {font-size: 1.2rem;}
    }

    article {
        padding-top: 5rem;
        position:relative;
        display: table;
        width: 100%;
        overflow: auto;      
            text-align: left;


        .row:not(:last-of-type) {
            padding-bottom: 5rem;
        }
    }

    .article-title {
        display: inline-block;
        color: $color-primary-font;
        font-family: $primary-font;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: .2rem;
        position: relative;

        &:after {  
            content: '';
            position:absolute;
            bottom: -1.5rem;
            height: 1px;
            width: 5rem;
            background-color: $color-grey-dark; 
            left: 1px;
        }

        @include respond(phone) {
            font-size: 1.8rem;

            &:after {
                content: none;
            }
        }
    }

    .featured-image-box {
        position:relative;
        width: 65rem;
        border-radius: 2px;
        display:table;
        overflow: auto;
        cursor: pointer;
        @include respond(phone) {
            width: 100%;
        }

        .featured-image {
            width: 65rem;
            border-radius: 2px;

            @include respond(phone) {
                width: 100%;
            }
        }

        .featured-image-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 20%);
            color: white;
            text-transform: uppercase;
            font-size: 2rem;
            text-align: center;
            font-family: $open-sans;
            opacity: 0;
            transition: all .8s;
            backface-visibility: hidden;
        }

        &:hover {
            .featured-image {
                filter: blur(0.5px) brightness(80%);
            }

            .featured-image-caption {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
        }
    }
</style>