<template>
    <div class="page-under-construction">
        <div class="page-under-construction-text">
            In the interest of saving time, I have deployed my portfolio site prior to finishing a proper Contact Form.
            In the meantime, while I proceed with development of the Contact form, feel free to shoot me an email at <a href="mailto:omarfevans@gmail.com" class="email">omarfevans@gmail.com</a>.
        </div>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="scss" scoped>
    .email {
        color: $color-primary-light;
        text-decoration: underline;
    }
</style>