<template>
    <div>
        <div style="padding-top: 80px;"></div>
        <div class="experience-page">
            <section>
                <div class="meter-group">
                    <div class="u-center-text">
                        <h3 class="project-heading">
                            Skala Mobile by METER Group
                        </h3>
                    </div>
                    <b-container>
                        <b-row>
                            <b-col lg="7">
                                <img src="../assets/experience/skala-mobile.jpg" class="project-image" />
                            </b-col>
                            <b-col lg="5">
                                <span class="paragraph">
                                    Meter Group delivers products and services relating to the data processing and analytics for
                                    Food Manufacturers. In my current internship with Meter Group, I have assisted in the Full-Stack development of
                                    <b>Skala Mobile</b>, an iPad application designed to allow customers to interface with data on their food products,
                                    as well as their devices for measuring water activity.
                                </span>
                                <span class="paragraph">
                                    Client side is built with Ionic Framework, with Bootstrap integrated for frontend components.
                                    Used Django for backend scripting and content management.
                                </span>
                                <a href="https://apps.apple.com/us/app/skala-mobile-by-meter/id1325783480#?platform=ipad" target="_blank">
                                    <div class="border-button" >Find on App Store</div>
                                </a>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
            </section>
            <section>
                <div class="portfolio-site">
                    <div class="u-center-text">
                        <h3 class="project-heading">
                            My Portfolio Site
                        </h3>
                    </div>
                    <b-container>
                        <b-row>
                            <b-col lg="7">
                                <img src="../assets/experience/portfolio.png" class="project-image" />
                            </b-col>
                            <b-col lg="5">
                                <span class="paragraph">
                                    Through the development of my portfolio site, I took the opportunity to explore Vue.js, a truly underrated client-side Javascript framework.
                                    It's scalable, with thorough documentation, and adopts a Javascript/CSS/HTML component-based development model similar to Ionic/Angular, which I really like.
                                </span>
                                <span class="paragraph">
                                    Components such as cards, the navbar, and some of the grid layouts were built by a combination of Bootstrap and my own tweaks with Sass.
                                    I built the layout used for articles on my site with CSS Grid, a two-dimensional responsive layout.
                                </span>
                                <span class="paragraph">
                                    I used ButterCMS as a headless CMS for easily publishing new articles and delivering the articles to my application.
                                </span>
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
            </section>
            <section>
                <div class="itron">
                    <div class="u-center-text">
                        <h3 class="project-heading">
                            Itron Blitz
                        </h3>
                    </div>
                    <b-container>
                        <b-row>
                            <b-col lg="7">
                                <img src="../assets/experience/itron-blitz.png" class="project-image" />
                            </b-col>
                            <b-col lg="5">
                                <span class="paragraph">
                                    As my senior design project at Washington State University, my team of 4 and I worked with Itron to develop <u>Itron Blitz</u>, a proof of concept Alexa Skill
                                    designed to allow users to get easy feedback on their energy usage from their Itron smart meters.
                                </span>
                                <span class="paragraph">
                                    We used a DynamoDB to store user energy data, and we processed this data through AWS Lambda functions.
                                    Each Lambda function represented the endpoint for a certain question asked by the user.
                                    Our project's code was stored on Gitlab, so that we could utilize Gitlab's built in robust Continuous Integration/Deployment plugin.
                                    After all integration tests passed, the CI/CD pipeline would deploy master straight to the AWS Lambda functions.
                                </span>
                                <a href="https://docs.google.com/document/d/1sPeZU04U1pDTUicUmL1dpvN3xZ3KF9FXGB2uR0pYb3I/edit?usp=sharing" target="_blank">
                                    <div class="border-button" >Link to Final Write-up</div>
                                </a>
                            </b-col>
                        </b-row>
                    </b-container>
                    
                    <div class="redirect-linkedin">Please see my <a href="https://www.linkedin.com/in/omarfevans" target="_blank">LinkedIn</a> for more details on my internship with Lexmark International Inc. and my time as President of WSU's IEEE Student Organization.</div>
                    <div style="padding-bottom: 20vh"></div>
                </div>

            </section>
        </div>
    </div>
</template>

<script>
import ScrollReveal from 'scrollreveal';
export default {
    name: "Experience",
    data () {
        return { };
    },
    methods: {

    },
    mounted() {
        window.sr = ScrollReveal();
        this.load = true;

        window.sr.reveal('.experience-page', {
            duration: 1000,
            origin: 'bottom',
            distance: '100px',
            viewFactor: 0.2
        })

        window.sr.reveal('.portfolio-site', {
            duration: 2000,
            origin: 'left',
            distance: '100px',
            viewFactor: 0.2,
            mobile: false
        })
        window.sr.reveal('.itron', {
            duration: 2000,
            origin: 'left',
            distance: '100px',
            viewFactor: 0.2,
            mobile: false
        })
    }
}
</script>

<style lang="scss" scoped>

    section {
        position:relative;
        display: table;
        width: 100%;
        overflow: auto;        
        background-color: $color-app-background;

        &:not(:first-of-type) {
            margin-top: -10vh;
            padding-top: 10vh;
            @include respond(phone) {
                padding-top: 3rem;
                clip-path: polygon(50% 3rem, 100% 0, 100% 100%, 0 100%, 0 0);
            }
            clip-path: polygon(50% 10vh, 100% 0, 100% 100%, 0 100%, 0 0);
        }

        &:not(:last-of-type) {
            padding-bottom: 10vh;
            @include respond(phone) {
                padding-bottom: 10rem;
            }
        }

        &:nth-child(odd) {
            background-color:white;
        }
    }

    .project-image {
        width: 60rem;

        @include respond(phone) {
            width: 100%;
        }
    }
    .redirect-linkedin {
        padding-top: 5rem;
        font-family: $open-sans;
        font-size: 1.5rem;
    }
    
</style>