<template>
    <div>
        <div class="header">
            <div class="overlay"></div>
            <!-- Arrow down to rest of content -->
            <div class="primary-header-box">
                <h1 class="primary">
                    <span class="primary-title">Hi, I am Omar Finol-Evans.</span>
                    <span class="primary-subtitle">Web Developer. Designer. Creative Writer.</span>
                </h1>
            </div>
            <button class="arrow-button btn" v-on:click="scroll()">
                <img src="../assets/images/home_arrow.svg" class="arrow-image"/>
            </button>
        </div>
        <main>
            <section id="about" class="aboutMe">
                <div class="u-center-text">
                    <h3 class="section-heading">About Me</h3>
                </div>
                <b-container class="grid-container">
                    <b-row>
                        <b-col lg>
                            <div class="profile-picture-column">
                                <img class="profile-picture" src="../assets/images/lakehouse.jpg"/>
                                <div class="social-media">
                                    <a target="_blank" href="https://www.linkedin.com/in/omarfevans"><img src="../assets/social_media/linkedin.png" /></a>
                                    <a target="_blank" href="https://www.facebook.com/omar.evans.39"><img src="../assets/social_media/facebook.png" /></a>
                                    <a target="_blank" href="https://www.instagram.com/omar.enrique_/"><img src="../assets/social_media/instagram.png" /></a>
                                    <a target="_blank" href="https://twitter.com/omar__enrique"><img src="../assets/social_media/twitter.png" /></a>
                                </div>
                            </div>
                        </b-col>
                        <b-col lg>
                            <div class="description">
                                <p class="paragraph">
                                    Born in Maracaibo, Venezuela. Raised in Boise, Idaho. Educated at Washington State University as a Bachelor of Science in Computer Science.  With this website, I hope to showcase my skills and experience as a <b>Full-Stack Web Developer</b>, the career in which I plan to go into.  I also have a passion for creative writing and will use my site to share my own pieces in which I will explore areas such as philosophy, film, and travel (maybe football too in the coming season, I'm a die hard Green Bay Packers and WSU fan).
                                </p>
                                <p class="paragraph">I currently live in Pullman, Washington with my beautiful wife as I work towards my graduation from WSU this May 2020.</p>
                                <div class="border-button" v-on:click="goTo('experience')">See Experience</div>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </section>
            <section class="skills">
                <h3 class="section-heading">Skills</h3>
                <b-container class="grid-container">
                    <b-row>
                        <b-col lg>
                            <div class="front-end">
                                <b-card bg-variant="white">
                                    <template v-slot:header>
                                        <h4 class="card-title">Front End</h4>
                                    </template>
                                    <div class="composition composition-frontend">
                                        <img class="image image--p1" src="../assets/logos/vue.png"/>
                                        <img class="image image--p2" src="../assets/logos/ionic.png"/>
                                        <img class="image image--p3" src="../assets/logos/angular.png"/>
                                        <img class="image image--p4" src="../assets/logos/sass.png"/>
                                        <img class="image image--p5" src="../assets/logos/bootstrap.png"/>
                                    </div>
                                </b-card>
                            </div>
                        </b-col>
                        <b-col lg>
                            <div class="back-end">
                                <b-card bg-variant="white">
                                    <template v-slot:header>
                                        <h4 class="card-title">Back End</h4>
                                    </template>
                                    <div class="composition composition-backend">
                                        <img class="image image--p1" src="../assets/logos/nodejs.png"/>
                                        <img class="image image--p2" src="../assets/logos/django.png"/>
                                        <img class="image image--p3" src="../assets/logos/dynamo.png"/>
                                        <img class="image image--p4" src="../assets/logos/express.png"/>
                                    </div>
                                </b-card>
                            </div>
                        </b-col>
                        <b-col lg>
                            <div class="cms">
                                <b-card bg-variant="white">
                                    <template v-slot:header>
                                        <h4 class="card-title">Content/Software Managment</h4>
                                    </template>
                                    <div class="composition composition-other">
                                        <img class="image image--p1" src="../assets/logos/gitlab.png"/>
                                        <img class="image image--p2" src="../assets/logos/git.png"/>
                                        <img class="image image--p3" src="../assets/logos/buttercms.jpg"/>
                                    </div>
                                </b-card>
                            </div>
                        </b-col>
                    </b-row>
                </b-container>
            </section>
            <!-- <section class="contact">
                <h3 class="section-heading">Contact Me</h3>
            </section> -->
        </main>
        <div style="padding-bottom: 20vh"></div>

    </div>
</template>

<script>
import ScrollReveal from 'scrollreveal';
export default {
    name: 'Home',
    props: {
        msg: String
    },
    methods: {
        scroll() {
            window.scrollTo({
                top: document.getElementById("about").offsetTop-80,
                left: 0,
                behavior: 'smooth'
            });
        },
        goTo(page) {
            this.$router.push({name: page});
        }
    },
    mounted() {
        console.log('MOUNTED');
        window.sr = ScrollReveal();

        window.sr.reveal('.section-heading', {
            duration: 2000,
            origin: 'top',
            distance: '50px',
            viewFactor: 0.2,
            mobile: false
        })

        window.sr.reveal('.profile-picture-column', {
            duration: 2000,
            origin: 'left',
            distance: '200px',
            viewFactor: 0.2,
            mobile: false
        })
        window.sr.reveal('.description', {
            duration: 2000,
            origin: 'right',
            distance: '200px',
            viewFactor: 0.2,
            mobile: false
        })

        window.sr.reveal('.front-end', {
            duration: 2000,
            origin: 'left',
            distance: '100px',
            viewFactor: 0.2,
            mobile: false
        })
        window.sr.reveal('.back-end', {
            duration: 2000,
            origin: 'bottom',
            distance: '100px',
            viewFactor: 0.2,
            mobile: false
        })
        window.sr.reveal('.cms', {
            duration: 2000,
            origin: 'right',
            distance: '100px',
            viewFactor: 0.2,
            mobile: false
        })
    }
}
</script>

<style lang="scss" scoped>
    .overlay {
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .arrow-button {
        position: absolute; 
        text-align: center;
        background-color:transparent;
        bottom: 15vh;
        transform: translate(-50%, -50%);

        .arrow-image {
            display: inline-block;
            width: 5.0rem;
            height: 5.0rem;
            background: no-repeat center center;
            background-size: 100% 100%;

            animation: gradualVisibility 1s ease-in;
            transition: all .5s;
            &:hover {
                transform: translateY(-.3rem) scale(1.1);
            }
            &:active {
                transform: translateY(-.1rem);
            }
        }
    }

    .header {
        height: 100vh;
        background: url('../assets/images/hua-shan.jpg') no-repeat center center;
        background-size: cover;
        -webkit-background-size: cover; //webkit support
        -moz-background-size: cover; //Mozilla support
        -o-background-size: cover; //Opera support
        position: relative;
        background-attachment: fixed;
        background-position: 50% 50%;

        @include respond(phone) {
            background-attachment: scroll;
            background-position: 58% 100%;
        }
        .primary-header-box {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            
            @include respond(phone) {
                top: 42%;
            }

            /* font-family: 'Pacifico', cursive; */
        }
    }

    section {
        position:relative;
        background-color: white;
        display: table;
        width: 100%;
        overflow: auto;

        &:not(:first-of-type) {
            .section-heading {
                margin-top: 3rem;
            }
        }
    }

    .social-media {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        a {
            img {
                width: 3rem;
            }
            &:not(:last-child) {
                margin-right: 2.8rem;
            }
        }
    }

    .profile-picture {
        border-radius: 50%;
        height: 25rem;
        border: .8rem solid $color-primary-light;

        @include respond(phone) {
            height: 16rem;
            border-width: .6rem;
        }

        transition: all .5s;
        &:hover {
            transform: scale(1.03);
        }
    }
</style>