<template>
    <b-navbar id="nav-bar" :class="{'homePageStick nav-box-shadow' : !change && !navToggle && ($route.name == 'home' || $route.name == 'articles')}" toggleable="md" type="light" variant="light"> 
        <div class="container">
            <b-navbar-brand :to="{ name: 'home'}" class="logo-box">Omar Finol-Evans</b-navbar-brand>
            <b-button class="navbar-toggler" type="button" 
                    variant="none" v-b-toggle.nav-collapse v-on:click="navToggle = !navToggle"> 
                <div class="custom-icon-bar" :class="{'hamburger-on-toggle': navToggle}"></div> 
            </b-button> 
            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav class="ml-auto">
                    <b-nav-item :to="{name: 'experience'}" v-on:click="navToggle = false">
                        Experience
                    </b-nav-item>
                    <b-nav-item v-on:click="navToggle = false" :to="{ name: 'articles'}">
                        Articles
                    </b-nav-item>
                    <b-nav-item v-on:click="navToggle = false" :to="{ name: 'videos'}">
                        Videos
                    </b-nav-item>
                    <b-nav-item :to="{name: 'contact'}" v-on:click="navToggle = false">
                        Contact Me
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </div>
    </b-navbar>
</template>

<script>
export default {
    name: "NavBar",
    data () {
        return {change: false, message: 'Hello', navToggle: false};
    },
    methods: {
        handleScroll() {
            this.change = window.scrollY > 10 ? true : false;
        },
        
    },
    created () {
        window.addEventListener('scroll', this.handleScroll);
    },
    destroyed () {
        window.removeEventListener('scroll', this.handleScroll);
    }
}
</script>

<style lang="scss" scoped>
    $duration: .3s;
    $distance: 4px;
    $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    #nav-bar {
        transition: all .5s;
        padding: 2rem 1rem 2rem 2rem;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 1;
        box-shadow: 0 6px 9px 0 rgba(0,0,0,.06);

        animation: moveInTop 2s;
    }
    .navbar-toggler {
        border: 0 !important;
        background-color: transparent !important;
        color: transparent !important;
        padding: 1rem;
        &:focus, &:active, &:focus:active, &:hover {
            outline:none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        &>* {
            transition: all 0.4s ease;
        }
    }
    .homePageStick {
        padding: 4rem 1rem 4rem 2rem !important;
        background-color: transparent !important;
        box-shadow: none !important;
        .navbar-brand {
            color: #fff;
        }
        .nav-item .nav-link {
            color: rgba(255, 255, 255, 0.75);
        }

        .custom-icon-bar {
            background-color:white;
        }
    }
    .logo-box {
        font-family: $pacifico;
        font-size: 2.5rem;
    }

    .custom-icon-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.0rem;
        height: .3rem;
        background-color: black;
        position: relative;

        &:before, &:after{
            content: '';
            position:absolute;
            top: -.8rem;
            width: 3rem;
            height: .3rem;
            background: inherit;
        }
        &:after {
            top: .8rem;
        }
    }

    .hamburger-on-toggle{
        transform: rotate(135deg);
        &:before, &:after {
            top: 0;
            transform: rotate(90deg);
        }
    }

    .nav-item .nav-link {
        position: relative;
        padding-bottom: 4px;
        font-size: 1.6rem;

        &:before, &:after {
            content: '';
            position: absolute;
            bottom: 2px;
            left: 0; right: 0;
            height: 2px;
            background-color: currentColor;
        }
        &:before {
            opacity: 0;
            transform: translateY(- $distance);
            transition: transform 0s $easeOutBack, opacity 0s;
        }
        &:after {
            opacity: 0;
            transform: translateY($distance/2);
            transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:hover, &:focus {
            &:before, &:after {
                opacity: 1;
                transform: translateY(0);
            }
            &:before {
                transition: transform $duration $easeOutBack, opacity $duration;
            }
            &:after {
                transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
            }
        }
    }
</style>