<template>
  <div id="app">
    <nav-bar></nav-bar>
    <div id='router-view'>
      <router-view/>
    </div>
    <footer class="footer">
      <p>Built with <a href="https://vuejs.org/" target="_blank">Vue.js</a>. Articles powered by the <a href="https://buttercms.com/" target="_blank">ButterCMS Blog Engine</a>. 
      Site hosted on <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
      <img src="./assets/logos/buttercms-footer.png" alt="ButterCMS Logo"/>
    </footer>
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style lang="scss">
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 15vh;
    background-color: $color-footer;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    p {
      font-size: 1.2rem;
      color: white;
    }
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: white;
      }
    }

    img {
      width: 10rem;
    }
  }
</style>
