@import "./base/animations";
@import "./abstracts/variables";
@import "./base/utilities";
@import "./layout/grid";
@import "./base/typography";
@import "./layout/card";
@import "./layout/image-composition";
@import "./layout/buttons";
@import "./layout/spinner";
@import "./layout/under-construction";

html {
  font-size: 62.5%;
  font-family: $primary-font;
}
#app {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  min-height: 100vh;
  background-color: white;
}

@media (min-width: 768px) {

}
@media (min-width: 1200px) {

}

button:focus {
    outline:none;
    box-shadow: none;
}

.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}